*{
    margin : 0px;

}
body{
    background-color: black;
}
/* .screen-container, .home-text-section, .nav-btn {
  opacity: 1 !important;
} */
.screen-container{
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.home-text-section{
    height:100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-title{
    height:50%;
    width:100%;
    color:white;
    font-family: 'Lexend';
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top:15%
}

.tag-line{
   font-size:50px; 
   display: inline;
}
.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.dynamic-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
    font-size: 1.5rem;
}
#dynamic{
    color:#FFA600;
    font-family:"Lexend";
    margin-left: 1%;
}
#static{
    color:white;
    font-family: 'Lexend';
}

#name{
    margin-left:10px;
    color:#FFA600;
}
.text-buttons{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}

.nav-btn{
    height:15%;
    width:10%;
    background-color: #FFA600;
    font-weight: 750;
    border-radius: 15px;
}

#Projects{
    
}
#Blog{

}
#Resume{

}
